#vt1>div {
    display: block;
    float: left;
    width: 100%;
}

caption {
    font-weight: bold;
    font-size: 1.5em;
    text-align: left;
}

table {
    min-width: 40%;   
    display: inline;
    float: left;
    overflow: auto;
    margin-top: 1%;
    
    border-collapse: collapse;
    border: 1px solid black;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 1em;
    
    padding-left: 2em;
}

#vt1>div>div:nth-child(2) {
    margin-top: 1%;
    display: grid;
    float: left;
    overflow: auto;
    
    border: 1px solid black;
    min-width: 25%;
}

#vt1>div>div:nth-child(3) {
    margin-top: 1%;
    display: inline;
    float: left;
    overflow: auto;
    
    border: 1px solid black;
    min-width: 20%;
    margin-left: 1em;
}

div>form:nth-child(1) {
    display: table-footer-group;
}
div>form:nth-child(2) {
    display: table-header-group;
}

th {
    border: 1px dotted black;
}


td {
    border: 1px dotted black;
}

h2, h3 {
    margin-left: 1em;
}

tr>th:first-child {
    text-align: left;
}

tr>th:nth-child(3) {
    text-align: center;
}

div:last-child>ul:last-child {
    max-width: 15em;
    /*! margin-left: 3%; */
}

div:last-child>ul:last-child>li {
}

div:last-child>ul:last-child>li>span {
    float: right;
}

div:last-child>ul:last-child>li>strong { 
}

tbody>tr>td:nth-child(3)>ul {
    margin: 0;
    padding: 0;
    padding-left: 15px;
}

tbody>tr>td:nth-child(4)>ul {
    /*! display: grid; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*! padding-left: 15px; */
    width:fit-content;
    /*! padding-right: 5px; */
    /*! vertical-align: top; */
    /*! display: block; */
}

tbody>tr>td:nth-child(4)>ul>li {
    /*! grid-row: 1; */
    display: inline;
    /*! padding-right: 5%; */
}

td:nth-child(4)>ul>li:last-child {
    color: red;
    /*! grid-row: 2; */
    display: block;
}

tbody>tr>td {
    margin: 0;
    padding: 0;
    width: fit-content;
}

tbody>tr>th {
    margin: 0;
    padding: 0;
}

fieldset {
    border: none;
}

form:nth-child(2)>fieldset>label {
    display:block;
    font-weight: bold;
    width: 150%;
}

label {
   padding-top: 2px;
   margin-bottom: 1px;
}
label>input {
   padding: 0;
   margin: 0;
   /*! float: right; */
   /*! padding-right: 0; */
   /*! padding-left: 30%; */
   /*! margin-left: 60%; */
}

div>form:nth-child(1)>fieldset {
   display: grid;
}

form:first-child>fieldset>label {
    grid-column: span 2;
    /*! padding-left: 25%; */
    font-weight: bold;
    width: 167%;
    /*! padding-left: 25%; */
}
form:first-child>fieldset>label>input {
    /*! padding-left: -52%; */
    /*! margin-left: 5%; */
    /*! padding-left: -4%; */
}

form>fieldset>label {
    padding: 5px;
}

form>fieldset>label>input {
    float: right;
    /*! padding-left: 30%; */
    /*! margin-left: 71%; */
    width: 70%;
}

fieldset:nth-child(1)>fieldset:nth-child(3) {
  grid-row: 2;
  grid-column: 2;
  /*! width: 200px; */
  padding-left: 150%;
}

fieldset:nth-child(3)>label>input {
    margin-left: 50%;
}

fieldset:nth-child(1)>fieldset:nth-child(4) {
  grid-row: 2;
  grid-column: 1;
  padding-left: 70%;
}

fieldset:nth-child(3)>legend {
    font-weight: bold;
}

fieldset:nth-child(4)>legend {
    font-weight: bold;
}

fieldset:nth-child(5)>legend {
    font-weight: bold;
    margin-left: 5%;
}

fieldset:nth-child(1)>fieldset:nth-child(5) {
  grid-row: 3;
  grid-column: span 3;
  padding: 5px;
  display: grid;
}

fieldset:nth-child(5)>label {
    /*! display: grid; */
    /*! margin-left: 25%; */
    width: 150%;
    /*! float: left; */
    margin-left: 5%;
}

fieldset:nth-child(5)>label>input {
    /*! grid-column: span 2; */
    /*! width: 100%; */
    /*! grid-column: span 2; */
    float: right;
    /*! padding-left: 30%; */
    /*! margin-left: 43%; */
    width: 69%;
}

fieldset:nth-child(1)>fieldset:nth-child(3)>label {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 25%;
}

fieldset:nth-child(1)>fieldset:nth-child(4)>label {
    display: flex;
    justify-content: space-between;
}

li>span:nth-child(1) {
    float: right;
}
li>span:nth-child(2) {
    float: right;
}

tr>th>span:nth-child(2) {
    float: right;
}

tr>th>span:nth-child(3) {
    float: right;
}

div>div:nth-child(2)>ul>li {
    padding-top: 2%;
}

div>ul:nth-child(3) {
    
}

div:nth-child(3)>ul {
    margin-left: 3%;
}

td>ul>li {
    padding-right: 5px;
}

fieldset>button {
    grid-row: 4;
}